{% extends 'overall/layout' %}
{% block appBody %}
   <form action="test/" method="POST">
   <input type="text" name="variable" value=""> 
   <input type="submit"  value="enviar"> 
   </form>
{% endblock %}